<!-- Wyświetlanie użytkowników i zaproszeń -->
<li *ngFor="let user of allUsers" class="flex items-center p-2  rounded-lg cursor-pointer">
    <img [src]="user.profilePicture" alt="Avatar" class="w-10 h-10 object-cover rounded-full" />
    
    <div class="ml-3 flex-1">
      <p class="text-gray-600">{{ user.fullName }}</p>
    </div>
  
    <!-- Przycisk dla zaproszeń oczekujących -->
    <span *ngIf="isRequestWaiting(user.id)" 
          class="text-green-500 cursor-pointer hover:text-green-700"
          (click)="confirmRequest(user.id)">
      Accept invitation 
    </span>
  
    <!-- Komunikat, jeśli zaproszenie zostało już wysłane -->
    <span *ngIf="isRequestSent(user.id)" class="text-gray-500">Waiting for confirmation</span>
    
    <!-- Przycisk do wysłania zaproszenia, jeśli nie wysłano -->
    <span *ngIf="!isRequestSent(user.id) && !isRequestWaiting(user.id)" 
          class="text-blue-500 cursor-pointer hover:text-blue-700"
          (click)="sendRequest(user.id)">
      Add friend
    </span>
  </li>
  